/****************** reset *************/
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
/****************** /reset *************/

.debug{
  background-color: rgba(41, 41, 229, 0.2);
}

header{
  display: flex;
  justify-content: center;
}

.container{
  height: 50px;
  width: 80%;
}

.row{
  display: flex;
  justify-content: center;
  justify-content: space-between;
  }

  .box{
    padding: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
    }