/****************** reset *************/
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
/****************** /reset *************/

.debug{
  background-color: rgba(41, 41, 229, 0.2);
  border: 1px solid black;
}

header{
  background-color:rgb(255, 0, 0, 0.2) ;
  display: flex;
  justify-content: center;
}

.container{
 width: 80%;
}

.row{
  display: flex;
  justify-content: space-between;
}

.box{
  padding: 10%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.principale{
  display: flex;
  min-height: 200px; /************debug************/
  justify-content: center;
  align-items: center;
}

.grigio{
  background-color: rgb(255, 0, 0, 0.2);
}

.blocco{
  width: 80%;
  height: 300px; /***************debug**************/
  margin: 30px;
  display: flex;
  justify-content: center;
}

.img{
  width: 60%;
}

.txt{
  width: 40%;
}
